[build]
  command = "npm install"
  publish = "public"

[functions]
  directory = "functions"
  # Esto obliga a Netlify a meter las carpetas dentro del paquete del servidor
  included_files = ["functions/models/**", "functions/routes/**", "functions/config/**"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/dashboard.html"
  status = 200