[build]
  # CAMBIO VITAL: Tus archivos HTML viven dentro de 'public'
  publish = "public"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

# Si alguien entra a la raíz, mándalo al dashboard que está en public
[[redirects]]
  from = "/*"
  to = "/dashboard.html"
  status = 200