[build]
  publish = "public"
  functions = "netlify/functions"

# Este es el puente que conecta tu JS con tu servidor
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200