[build]
  publish = "public"
  functions = "netlify/functions"

# Esta es la regla mágica que quita el error de la consola
[[redirects]]
  from = "/.netlify/functions/server/*"
  to = "/.netlify/functions/server"
  status = 200

# Por si tu código usa "/api/..."
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200