[build]
  command = "npm install"
  publish = "public"

[functions]
  directory = "functions"
  node_bundle = {}

[[redirects]]
  # Este es el puente vital. Nota que quitamos el ":splat" para probar
  # una conexión directa si el splat está fallando.
  from = "/api/*"
  to = "/.netlify/functions/server"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/dashboard.html"
  status = 200