[build]
  command = "npm install"
  publish = "public"

[functions]
  directory = "functions"
  # Incluimos TODO: models, routes, config, controllers y utils
  included_files = ["functions/models/**", "functions/routes/**", "functions/config/**", "functions/controllers/**", "functions/utils/**"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/dashboard.html"
  status = 200