[build]
  command = "npm install"
  publish = "public"

[functions]
  directory = "functions"
  # Eliminamos la línea problemática de node_bundle para usar el estándar de Netlify

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/dashboard.html"
  status = 200